body{
	font-family: 'Nunito', sans-serif;
	padding: 20px;
}

nav a{
	background-color: pink;
	padding:5px;
	text-decoration: none;
}

#links {
	padding: 0px 10px 10px;
	margin: 0px 0px 10px 10px;
}

a:hover{
	color:orange;
}

h1 {
	font-size: 50px; 
}

h2{
	color: green;
}

h3{
	color:blue;
}


.rcorners{
    border-radius: 20px;
    padding: 10px;
}
