body{
	font-family: 'Nunito', sans-serif;
	padding: 20px;
}

#heading{
	margin: 5px;
}

h1 {
	font-size: 50px; 
}

h2{
	color: #D81159;
}

h3{
	color:#8B8982;
}

.rcorners{
    border-radius: 20px;
    padding: 10px;
}

nav a{
	background-color: pink;
	padding:5px;
	text-decoration: none;
}

#links {
	padding: 0px 10px 10px;
	margin: 0px 0px 10px 10px;
}

#header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1px;
}

#main-menu{
	padding:20px;
}

a:hover{
	color:orange;
}
