body{
	font-family: 'Nunito', sans-serif;
	padding: 20px;
}

#heading{
	margin: 5px;
}

h1 {
			font-size: 50px; 
		}

h2{
	color: green;
}

h3{
	color:blue;
}

.rcorners{
	border-radius: 15px;
}

nav a{
	text-decoration: none;
}

#links {
	padding: 0px 10px 10px;
	margin: 0px 0px 10px 10px;
}
